!.env.example
!replays/.gitkeep
*.AppImage
*.dmg
*.exe
*.local
*.log
*.pyc
*.spec
*.swo
*.swp
.DS_Store
.env
.env.*
.idea/
.venv/
.vercel
.vscode/
Thumbs.db
__pycache__/
archive_types/
build/
dist/
python-*.exe
python-*.pkg
replays/
venv/
node_modules/
android/
android-build/
